.vscode/
__pycache__/
dist/
build/
*.egg-info/

data/
output/
pretrained/*
!pretrained/.keep
/.idea/.gitignore
/.idea/bytetrack.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
